* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}

body {
  overflow-x: hidden;

}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins',
    sans-serif;
  font-size: 16px;
  color: $gray-dark;
  line-height: 1.5;
  background-color: #fff;



}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

//button
.button {
  display: inline-block;
  font-size: 16px;
  color: $gray-dark;
  padding: 20px 45px;
  line-height: normal;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s linear;

  &--primary {
    color: #fff;
    background-color: $primary-color;
  }

  &--outline {
    border: 1px solid;
    color: $gray-blur;
  }
}

.block{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 85px;
  &-caption{
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    display:inline-block;
    padding: 0 5px;
  }
  &-caption:before{
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    
  }
  &-caption:after {
    right: 0;
    transform: translateX(100%) translateY(-50%);

  }
  &-caption:before,
  &-caption:after
  {
    content:"";
    position:absolute;
    height: 2px;
    width: 30px;
    background-color: $primary-color;
    top: 50%;
    
  }
  &-caption--left{
    padding-left: 40px;
    margin-bottom: 30px;
  }
  &-caption--left:after {
    display:none;
  }
   &-caption--left:before {
     transform:none;
   }
  &-heading{
    
    font-size: 50px;
    line-height:1.4;
    span{
      display:block;
    }
  }


}

.text{
      font-weight: 300;
      color: $gray;
      line-height:1.6;

}
.logo{
  display: block;
  
}